{
	layer4 {
		:80 {
			@insecure_turn http host {$LIVEKIT_TURN_HOSTNAME}
			route @insecure_turn {
				proxy {
					upstream {
						dial host.docker.internal:5349
					}
				}
			}
			@insecure http host {$LIVEKIT_HOSTNAME}
			route @insecure {
				proxy {
					upstream {
						dial host.docker.internal:7880
					}
				}
			}
		}
		:443 {
			@secure_turn tls sni {$LIVEKIT_TURN_HOSTNAME}
			route @secure_turn {
				tls
				proxy {
					upstream {
						dial host.docker.internal:5349
					}
				}
			}
			@secure tls sni {$LIVEKIT_HOSTNAME}
			route @secure {
				tls {
					connection_policy {
						alpn http/1.1
					}
				}
				proxy {
					upstream {
						dial host.docker.internal:7880
					}
				}
			}
		}
	}
}

{$LIVEKIT_HOSTNAME} {
	reverse_proxy host.docker.internal:7880

	@cors_origin_match {
		header_regexp origin Origin ^https?://($ROOT_DOMAIN)$
	}

	@cors_preflight {
		method OPTIONS
		path /rtc/validate*
	}

	header @cors_preflight {
		Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		Access-Control-Allow-Headers "Authorization, Content-Type"
		Access-Control-Max-Age "86400"
	}

	header @cors_origin_match {
		Access-Control-Allow-Origin "{http.request.header.Origin}"
		Vary "Origin"
	}

	respond @cors_preflight 204

	tls {
		dns cloudflare {env.CF_API_TOKEN}
		propagation_delay 10s
		propagation_timeout -1
		resolvers 1.1.1.1
	}
}

{$LIVEKIT_TURN_HOSTNAME} {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		propagation_delay 10s
		propagation_timeout -1
		resolvers 1.1.1.1
	}
}

{$HOSTNAME} {
	# Validate multiple origins using regex
	@cors_origin_match {
		header_regexp origin Origin ^https?://($ROOT_DOMAIN)$
	}

	# Preflight for matched origins
	@cors_preflight {
		method OPTIONS
	}

	header @cors_preflight {
		Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		Access-Control-Allow-Headers "Content-Type, Authorization"
		Access-Control-Max-Age "86400"
	}

	header @cors_origin_match {
		Access-Control-Allow-Origin "{http.request.header.Origin}"
		Vary "Origin"
	}

	respond @cors_preflight 204

	route /api* {
		uri strip_prefix /api
		reverse_proxy http://api:14702 {
			header_down Location "^/" "/api/"
		}
	}

	route /ws {
		uri strip_prefix /ws
		reverse_proxy http://events:14703 {
			header_down Location "^/" "/ws/"
		}
	}

	route /autumn* {
		uri strip_prefix /autumn
		reverse_proxy http://autumn:14704 {
			header_down Location "^/" "/autumn/"
		}
	}

	route /january* {
		uri strip_prefix /january
		reverse_proxy http://january:14705 {
			header_down Location "^/" "/january/"
		}
	}

	route /gifbox* {
		uri strip_prefix /gifbox
		reverse_proxy http://gifbox:14706 {
			header_down Location "^/" "/gifbox/"
		}
	}

	reverse_proxy http://web:8080
}
